{% extends 'base.html' %} 

{% load static %} 

{% block title %}All Products - Django Shop {% endblock %} 

{% block content %} 

{% include 'includes/header.html'%}

<div class="container">
  <div class="row body-product">
    <div class="col-md-3">
      <ul class="list-group">
        <li class="list-group-item active" aria-current="true">
          Category
        </li>
            <li class="list-group-item">food</li>
            <li class="list-group-item">Mobile Phone</li>
        
      </ul>
    </div>
    <div class="col-md-9">
      <div class="row">
        
        <div class="col-md-4">
          <div class="card">
            
            <img
              src="{{ product.image.url }}"
              class="card-img-top"
              alt="product"/>
           
            <img
              src="{% static 'images/default-product.png' %}"
              class="card-img-top"
              alt="product"/>
           
            <div class="card-body">
              <h5 class="card-title"></h5>
              <p class="card-text truncate"></p>

              <div class="d-flex justify-content-between align-items-center my-3">
                <small class="card-text text-decoration-line-through">$5445</small>
                <h4 class="card-text">$ 500</h4>
              </div>

              <div class="d-flex align-items-center">
                <a href="#" class="btn btn-light">View Details</a>
                 <a href="#" class="btn btn-dark">Add To Cart</a>
              </div>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</div>
{% endblock %}
