body {
  font-family: 'Jost', sans-serif;

}
.nav-style{
  background: rgb(187, 184, 179);
  color: rgb(34, 29, 29);
  padding-left: 2.5rem;
  padding-right: 1.5rem;
}
/* .heade-style{
  background-color: #878f99;
  padding: 10px;
  border-radius: 5px;
  color: #fff;
} */
.login-out-btn{
  margin-left: auto;
}

.body-product {
  margin-top: 4.5rem;
}

.truncate {
  width: auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card img {
  height: 225px;
  width: 100%;
  object-fit: cover;
}

.card-custom {
  margin-bottom: 20px;
}

a {
  text-decoration: none !important;
  color: rgb(31, 27, 27);
}




.message {
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  padding: 0.4rem 1rem;
  border-radius: 0.4rem;
  color: #222;
  transition: all .2s;
  transform: translate(0);
  animation: autoHide 0s ease-in 4s forwards;
}

.message-success {
  background: rgb(7, 202, 49);
  color: #fff;
  animation: autoHide 0s ease-in 4s forwards;
}

.message-error {
  background: red;
  color: #fff;
  animation: autoHide 0s ease-in 4s forwards;
}

.message-hide {
  transform: translate(200%);
}