body {
    font-family: 'Jost', sans-serif;
   
}
.body-product{
  margin-top: 5rem;
}
.truncate {
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 5px;
}

.card img {
  height: 225px; 
  width: 100%;
  object-fit: cover;
}
a{
  text-decoration: none !important;
  color: rgb(31, 27, 27);

} 