<footer class="bd-footer py-5 bg-light">
  <div class="container py-5">
    <div class="row">
      <div class="col-lg-3 mb-3">
        <a class="d-inline-flex align-items-center mb-2 link-dark text-decoration-none" href="{% url 'index' %}" aria-label="ShopY">
          <span class="fs-5">ShopY</span>
        </a>
        <ul class="list-unstyled small text-muted">
          <li class="mb-2">Designed and built with all the love in the world by the <a href="">our contributors</a>.
          </li>
          <li class="mb-2">ShopY licensed <a href="" target="_blank" rel="license noopener">bd.gov</a>, E-comm <a href=""
              target="_blank" rel="license noopener">CC BY 5.0.0</a>.</li>
          <li class="mb-2">Currently services </li>
        </ul>
      </div>
      <div class="col-6 col-lg-2 offset-lg-1 mb-3">
        <h5>Links</h5>
        <ul class="list-unstyled">
          <li class="mb-2"><a href="">Home</a></li>
          <li class="mb-2"><a href="">About</a></li>
          <li class="mb-2"><a href="">User</a></li>
          <li class="mb-2"><a href="">Products</a></li>
          <li class="mb-2"><a href="">Blog</a></li>
        </ul>
      </div>
      <div class="col-6 col-lg-2 mb-3">
        <h5>Guides</h5>
        <ul class="list-unstyled">
          <li class="mb-2"><a href="">Getting started</a></li>
          <li class="mb-2"><a href="">Starter template</a></li>
          <li class="mb-2"><a href="">Webpack</a></li>
          <li class="mb-2"><a href="#">Parcel</a></li>
        </ul>
      </div>
      <div class="col-6 col-lg-2 mb-3">
        <h5>Projects</h5>
        <ul class="list-unstyled">
          <li class="mb-2"><a href="#">Top Product</a></li>
          <li class="mb-2"><a href="#">Real Product</a></li>
          <li class="mb-2"><a href="">Product Category</a></li>
          <li class="mb-2"><a href=""></a></li>
          <li class="mb-2"><a href="">npm starter</a></li>
        </ul>
      </div>
      <div class="col-6 col-lg-2 mb-3">
        <h5>ShopY Community</h5>
        <ul class="list-unstyled ">
          <li class="mb-2 "><a href="">Issues</a></li>
          <li class="mb-2"><a href="">Discussions</a></li>
          <li class="mb-2"><a href="">Corporate sponsors</a></li>
          <li class="mb-2"><a href="">Open Collective</a></li>
          <li class="mb-2"><a href="">Slack</a></li>
          <li class="mb-2"><a href="">Stack Overflow</a></li>
        </ul>
      </div>
    </div>

    <div class="d-flex justify-content-between py-4 my-4 border-top">
      <p>&copy; {% now "Y" %} Shopy Business, Inc. All rights reserved.</p>
      <ul class="list-unstyled d-flex">
        <li class="ms-3"><a class="link-dark" href="#"><i class="fa-brands fa-twitter"></i></a></li>
        <li class="ms-3"><a class="link-dark" href="#"><i class="fa-brands fa-instagram"></i></a></li>
        <li class="ms-3"><a class="link-dark" href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
        <li class="ms-3"><a class="link-dark" href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
      </ul>
    </div>

  </div>

</footer>