{% extends 'base.html' %}

{% load static %}

{% block title %}All Products - Django Shop {% endblock %}

{% block content %}

{% include 'includes/header.html'%}
    <div class="global-container">
        <div class="card login-form">
        <div class="card-body">
            <h3 class="card-title text-center">Shopy user Login </h3>
            <div class="card-text">
                
                <!-- <div class="alert alert-danger alert-dismissible fade show" role="alert">Incorrect username or password.</div>  -->
                <form class="singin-up-form">
                    <div class="form-group p-2">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" class="form-control form-control-sm" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                    <div class="form-group p-2">
                        <label for="exampleInputPassword1">Password</label>
                        <a  class="forgot-password" href="#" >Forgot password?</a>
                        <input type="password" class="form-control form-control-sm" id="exampleInputPassword1">
                    </div>
                    <button type="submit" class="singin-up-form-btn btn btn-primary btn-block">Sign in</button>
                    <div class="sign-up">Don't have an account? <a href="{% url 'signup' %}">Create Account</a></div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}