{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon/shopy.svg' %}" >
  <link href="https://fonts.googleapis.com/css?family=Rubik&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
  <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  <link rel="stylesheet" href="{% static 'css/login.css' %}" />
  <link rel="stylesheet" href="{% static 'css/account.css' %}" />
  <title>{% block title %}ShopY All{% endblock %}</title>
</head>
 
<body>
  {% include 'includes/header.html'%}
  {% include 'includes/message.html' %}
  {% block content %}{% endblock %}
  
  <!-- {% include 'includes/footer.html' %} -->


  <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
  <script src="https://kit.fontawesome.com/af562a2a63.js" crossorigin="anonymous"></script>
  <script src="{% static 'js/app.js' %}"></script>
</body>

</html>